.vs/BEVADAT2022232/v17/.wsuo
.vs/BEVADAT2022232/FileContentIndex/read.lock
.vs/BEVADAT2022232/FileContentIndex/d3b5a3d7-5675-4559-847d-76ef1bf53059.vsidx
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
